body{
    font-family: 'Montserrat', sans-serif;
    width: 1366%;
    height: 768%;
    background: #F3F5FC;
}

header{
    width:100%;
    height: 20%;
}

.logo{
/* Vector */
position: absolute;
left: 7%;
top: 6%;
}

#entrada{
    position: absolute;
    width: 35%;
    height: fit-content;
    left: 14%;
    top: 19%;
    
    font-family: 'Inter';
    font-size: 32px;
    border: none;
    background: #F3F5FC;
    color: #0A3871;
}

.aviso-entrada{
    position: absolute;
    top: 75%;
    left: 15%;
    font-size: 10px;
}

.encryptar{


display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 24%;
height: fit-content;

position: absolute;
left:10%;
top: 80%;

background: #0A3871;
border-radius: 24px;
border: none;
/* Inside auto layout */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;
position: absolute;
text-align: center;
flex: none;
order: 0;
flex-grow: 0;
}

.desencryptar{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 24%;
height: fit-content;

position: absolute;
left: 40%;
top: 80%;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;
border: none;
/* Inside auto layout */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;
position: absolute;
text-align: center;
flex: none;
order: 0;
flex-grow: 0;
}



.rectangulo-lateral {
    width: 18%;
    height: 70%;
    position: absolute;
    left: 80%;
    top: 10%;
    background: #FFFFFF;
    border-radius: 20px;
}

 .resultado-lateral{
    width: 18%;
    height: 80%;
    border: #0A3871;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    top: 10%;
    left: 80%;

}




.muñeco{
    position: relative;
    width: 84%;
    top: 25.7%;
    left: 7%;
}

.caja-resultado{
    position: relative;
    width: 84%;
    height: 13%;
    top: 30%;
    left: 7%;
    border-style: solid;
    border-color: #000000;
    border-width: 0px;
}

.mensaje-status{
    position: relative;
    width: 95%;
    left: 1%;
    top: 0%;
    height:35%;
   
    border-style: solid;
    border-color: #000000;
    border-width: 0px;
    font-weight: 700;
    font-size: small;
    text-align: center;
}



#ins-status {
    position: relative;
    width: 95%;
    left: 1%;
    top: 19%;
    height:35%;
   
    border-style: solid;
    border-color: #000000;
    border-width: 0px;
    font-weight: 700;
    font-size: 8px;
    text-align: center;
}

textarea::placeholder{
color: #0A3871;
}



#salidaHtml{
    position: relative;
    width: 84%;
    height: 70%;
    top: 10%;
    left: 7%;
    border-style: solid;
    border-color: #000000;
    border-width: 0px;
}
.copiar{

    padding: 24px;
    gap: 8px;
    
    width: 84%;
    height: 2%;
    
    position: absolute;
    top: 85%;
    left: 7%;
    
    /* Dark blue/dark-blue-300 */
    
    
    border-radius: 24px;
    border: solid;
    border-color: #0A3871;
    /* Inside auto layout */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    /* White */
    
    color: #0A3871;
    position: absolute;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    }


    p.pie-pagina{
        text-align: center;
        padding: 10px;
        color: #000000;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        left: 40%;
        top: 95%;  
    }    

    @media screen and (max-width:900px){
     .rectangulo-lateral  {
        position: absolute;
        top: 30%;
        left: 10%;
        width: 80%;
        height: 30%;
        }
        .muñeco{
            position: relative;
            width: 50%;
            left: 25%;

        }
     #entrada{
        width: 70%;
        top: 22%;
        font-size: x-large;
     }
    
    #boton-copiar{
        position: absolute;
        top: 110%;
        width: 40%;
        left: 30%;
    }

    .encryptar{
        top: 72%;
        left: 20%;
        width: 60%;
        height: fit-content;

    }
    
    .desencryptar{
        left: 20%;
        top: 82%;
        width: 60%;
        height: fit-content;
        
    }
    .aviso-entrada{
        top: 61%;
    }


    p.pie-pagina{
        left: 1%;
        top: 92%;

    }

    
    /*, .muñeco, , .mensaje-status, .ins-status, 